@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body {
  margin: 0;
  font-family: "Merriweather", serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.767);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.418);
}
.body-dark {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #282c34;
}
.body-dark--shell {
  position: absolute;
  height: 60%;
  width: 100%;
  margin: 0;
  background-color: #282c34;
}

.navBar--light {
  display: flex;
  padding: 0.75rem;
  justify-content: space-between;
  height: 2.5vh;
  background-color: white;
}
.navBar--dark {
  display: flex;
  padding: 0.75rem;
  justify-content: space-between;
  height: 2.5vh;
  background-color: #282c34;
}
.toggle {
  width: 3.125rem;
  height: 100%;
  cursor: pointer;
  left: 2rem;
}
.language--dark {
  vertical-align: top;
  height: 125%;
  border: none;
  padding: 0.125rem;
  border-radius: 0.3rem;
  margin-left: -2rem;
  color: wheat;
  background-color: #4360bfcb;
}
.language--dark:hover {
  background-color: #4360bf;
}
.language--light {
  vertical-align: top;
  height: 125%;
  border: none;
  padding: 0.125rem;
  border-radius: 0.3rem;
  margin-left: -2rem;
  background-color: #a8d0f3c9;
}
.language--light:hover {
  background-color: #a8d0f3;
}
.run--light {
  vertical-align: top;
  height: 125%;
  border: none;
  padding: 0.125rem;
  width: 4rem;
  border-radius: 0.3rem;
  cursor: pointer;

  right: 2rem;
  background-color: #62fa6fd8;
}
.run--light:hover {
  background-color: #62fa6f;
}
.delete--dark {
  vertical-align: top;
  height: 125%;
  border: none;
  padding: 0.125rem;
  width: 4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: wheat;
  right: 2rem;
  background-color: #ff7e7cd3;
}
.delete--dark:hover {
  background-color: #ff7e7c;
}
.delete--light {
  vertical-align: top;
  height: 125%;
  border: none;
  padding: 0.125rem;
  width: 4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: black;
  right: 2rem;
  background-color: #ff322fd3;
}
.delete--light:hover {
  background-color: #ff322f;
}
.run--dark {
  vertical-align: top;
  height: 125%;
  border: none;
  padding: 0.125rem;
  width: 4rem;
  color: wheat;
  border-radius: 0.3rem;
  cursor: pointer;

  right: 2rem;
  background-color: #7bf785a9;
}
.run--dark:hover {
  background-color: #60fd6dc7;
}
.shell--dark {
  padding: 0.625rem;
  position: absolute;
  height: 32vh;
  width: 98.75%;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: wheat;
  font-size: large;
}
.shell--light {
  padding: 0.625rem;
  position: absolute;
  height: 32vh;
  width: 98.75%;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: gray;
  font-size: large;
}
.clear--light {
  margin: 20px;
  position: absolute;
  right: 0;
  border: none;
  padding: 0.125rem;
  width: 4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: black;
  right: 2rem;
  background-color: #ff322fd3;
  height: 2rem;
}
.clear--light:hover {
  background-color: #ff322f;
}
.clear--dark {
  margin: 20px;
  position: absolute;
  right: 0;
  height: 2rem;
  border: none;
  padding: 0.125rem;
  width: 4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: wheat;
  right: 2rem;
  background-color: #ff7e7cd3;
}
.clear--dark:hover {
  background-color: #ff7e7c;
}
